.body{
    width: 100%;
    min-height: 100vh;
    padding: 100px 10px 30px;
    line-height: 1.5;
}

.body .head{
    margin-top:0px;
    padding-left: 20px;
    padding-bottom: 30px;
    display: block;
    width: 100%;
  }

.body .head h1{
    font-size:1.3em;
    color: rgb(30, 30, 30);
  }


.body .head .line{
    height: 3px;
    width: 50px;
    background-color:#ee1d23 ;
    margin: 3px 0px;
  }

  
.contact-details{
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
}


.contact-details .img{
    height: 440px;
    width: 450px;
    background: url("../images/contact-cover.jpg") no-repeat center center/cover;
}

.info{
    max-width: 500px;
}
.info p{
    text-align: justify;
}

.info1{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.contact-details .info .info1 img{
    height: auto;
    width: 20px;
}

.info .info1 .text p{
    text-align: start;
}

.text{
    padding-left: 30px;
} 

@media screen and (max-width: 768px) {

    .body .head{
        padding-left: 0px;
      }

    .contact-details{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .contact-details .img{
        height: 300px;
        width: 100%;
    }
      
} 