.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.information{
    height: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.information h1{
  color: rgb(82, 82, 82);
  font-size: 1.3em;
}

.information h2{
  font-size: 3em;

}
.information h3{
  margin-block-end: 1.3em;
  color: rgb(82, 82, 82);
}

.info .header{
  color: rgb(82, 82, 82);
  font-weight: 600;
}

.info .desc{
  color: #000;
  font-weight: 600;
}

.info{
  display: inline;
  margin: 0.5em 0;
}
.information p{
  width: 60%;
  text-align: justify;
}

.info a{
  font-size: 1em;
}
.information .location{
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.button{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.information button{
  height: 30px;
  width: 130px;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 600;
  background-color: #ee1d23;
  transition: 0.3s ease;
}
button:hover{
  transition: 0.3s ease;
  transform: translateY(-3px);
}
.information .btn-share{
  background-color: transparent;
  border: #000 1.5px solid;
}
/*second half*/
.profile{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.card1 {
    max-width: 300px;
    width: 300px;
    height: 300px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: rgb(11, 11, 11);
    position: relative;
    margin-bottom: 50px;
  }

  
  .BorderTopBottom1:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    top: -8px;
    left: -8px;
    background: rgb(11, 11, 11);
    transition: all 0.5s ease;
  }


  .BorderTopBottom1:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    bottom: -8px;
    right: -8px;
    background: rgb(11, 11, 11);
    transition: all 0.5s ease;
  }
  .BorderLeftRight1:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 3px;
    height: 30px;
    background: rgb(11, 11, 11);
    transition: all 0.5s ease;
  }
  .BorderLeftRight1:after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 3px;
    height: 30px;
    background: rgb(11, 11, 11);
    transition: all 0.5s ease;
  }
  
  .wrapp{
    overflow: hidden;
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    height: 25px;
  }

  .wrapp p{
    color: rgb(82, 82, 82);
  }
  .wrapp .links{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
  }

  .links .link{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background-color: rgb(11, 11, 11);
    background: url('../images/icons/call2.jpg') no-repeat center center/cover;
    transition: 0.3s ease-in-out;
  }
  .link:hover{
    transition: 0.3s ease;
    transform: translateY(-3px);
  }

  @media screen and (max-width: 768px) {
    .body{
      gap: 80px;
      margin: 90px 0px 80px;
      padding: 0px 30px;
      flex-direction: column-reverse;

  }
  .profile{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.card1 {
  width: 100%;
  aspect-ratio: 1/1;
}
.wrapp{
  padding: 0px 30px;
}
.information p{
  width:100%;
  text-align: justify;
}
  }



    /*profile pics*/
    .profilepic{
      background-color: aliceblue;
      width: 100%;
      overflow: hidden;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
    }

    .director,
    .workshop,
    .finance,
    .operations,
    .operations2,
    .operations3{
      width: 100%;
      height: 100%;
      transition: 0.3s all ease-in-out;
    }
  
    .director{
      background: url("../images/profile/Tieho.jpg") no-repeat center center/cover;
    }
  
    .workshop{
      background: url("../images/profile/Mohale.jpg") no-repeat center center/cover;
    }
  
    .finance{
      background: url("../images/profile/Makatleho.jpg") no-repeat center center/cover;
    }
  
    .operations{
      background: url("../images/profile/Mpoetsi.jpg") no-repeat center center/cover;
    }
  
    .operations2{
      background: url("../images/profile/Mabatho.jpg") no-repeat center center/cover;
    }
  
    .operations3{
      background: url("../images/profile/Mohajana.jpg") no-repeat center center/cover;
    }
  
  
    .directorcard:hover > .profilepic .director,
    .workshopcard:hover > .profilepic .workshop,
    .financecard:hover > .profilepic .finance,
    .operationscard:hover > .profilepic .operations,
    .operationscard2:hover > .profilepic .operations2,
    .operationscard3:hover > .profilepic .operations3{
      width: 120%;
      height: 120%;
    }